[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Oo]bj/
[Bb]in/


*.user
*.suo
*.cache
*.log
*.bak


*.config
Web.config
app.config
*.config.user
*.config.transform

*.dll
*.exe
*.pdb
*.ilk
*.ico


packages/
*.nupkg
*.paket.*
*.fake.*
!.nuget/
!**/packages.config


obj/
**/obj/


C#/**/bin/
C#/**/obj/
.vs/