# Build results
bin/
obj/
*.dll
*.exe
*.pdb
*.cache
*.log

# Visual Studio files
.vs/
*.suo
*.user
*.csproj.user
*.sln.docstates

# NuGet
packages/
*.nupkg
*.snupkg
*.dotnet-msi

# Resharper
_ReSharper*/
*.ReSharper*
*.