@page
@using RazorPagesBook.Models
@model BookPage.Pages.BookModel
@{
    ViewData["Title"] = "Book List";
}

<h1>Book List </h1>
<form method="post" class="card p-3">
    <div class="row">
        <div asp-validation-summary="All"></div>
    </div>
    <div class="form-group mb-0 align-middle">
        <label asp-for="NewBook.Name">Name</label>
        <input type="text" asp-for="NewBook.Name" class="mr-5">
        <label asp-for="NewBook.Description">Description</label>
        <input type="text" asp-for="NewBook.Description" class="mr-5">
        <label asp-for="NewBook.Author">Author</label>
        <input type="text" asp-for="NewBook.Author" class="mr-5">
        <button class="btn btn-primary">Add</button>
    </div>
</form>
<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Author</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    @foreach (var book in Model.books)
    {
    <tr>
        <td>@book.Name</td>
        <td>@book.Description</td>
        <td>@book.Author</td>
        <td>
            <form method="post" asp-page-handler="Delete" asp-route-id="@book.Id">
                <button class="btn btn-danger">Delete</button>
            </form>
        </td>
    </tr>
    }
</table>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
