<h1>TODO List </h1>
<form [formGroup]="formCreate" (ngSubmit)="addTodo(formCreate)" class="card p-3">
    <div class="form-group mb-0 align-middle">
        <label>Name</label>
        <input formControlName="name" type="text" class="mr-5">
        <small *ngIf="(formCreate.controls.name.dirty || formCreate.controls.name.touched) && formCreate.controls.name.errors?.required"
        style="color: red;margin-left: 50px;">Email can not be left blank </small>
        <label>Description</label>
        <input formControlName="description" type="text" class="mr-5">
        <small *ngIf="(formCreate.controls.description.dirty || formCreate.controls.description.touched) && formCreate.controls.description.errors?.required"
        style="color: red;margin-left: 50px;">Email can not be left blank </small>
        <button type="submit" [disabled]="formCreate.invalid" class="btn btn-primary">Add</button>
    </div>
</form>
<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th  scope="col">Name</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tr *ngFor="let todo of todoList; let i = index">
        <td>{{i+1}}</td>
        <td [ngClass]="checkSelect(todo.id) ? 'active-task' : ''" (dblclick)="redirectToDoDetail(todo?.id)" (click)="selectTask(todo)">{{todo?.name}}</td>
        <td>
            <button class="btn btn-danger" (click)="deleteToDo(todo?.id)">Delete</button>
        </td>
    </tr>
</table>

<button (click)="moveTop()" class="btn btn-primary">Top</button>
<button (click)="moveDown()" class="btn btn-primary " style="margin-right: 50px;">Down</button>